<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Laravel Test</div>

                    <div class="card-body">
                        Redirect to <router-link class="nav-link" :to="{name : 'post'}"> Post</router-link> to view CRUD.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
