<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card " >
                    <div class="card-body">
                        <h3>Post</h3>
                        <form @submit.prevent="save">
                            <div class="text-success" v-if="message">
                                {{message}}
                            </div>
                            <div style="color: #ff5252;" v-if="errors">
                                <li
                                v-for="(error, key) in errors"
                                :key="key"
                                >{{error}}</li>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">User ID</label>
                                        <input type="text" class="form-control" name="userId" id="userId" v-model="element.userId">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Title</label>
                                        <input type="text" class="form-control"  v-model="element.title">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">Body</label>
                                        <textarea name="body" class="form-control" v-model="element.body"></textarea>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                    <button class="btn btn-warning btn-sm" type="button" @click="reset()">Clear</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card " >
                    <div class="card-body">
                        <h4>Llst</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">userId</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Body</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="( post,index) in  post_list" :key="'post'+index" >
                                    <td>{{post.id}}</td>
                                    <td>{{post.userId}}</td>
                                    <td>{{post.title}}</td>
                                    <td>{{post.body}}</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Post" class="btn btn-info" @click="prefetch(post.id)">Edit</button>
                                        <button type="button" rel="tooltip" title="Remove Post" class="btn btn-danger"
                                        @click="remove(post.id)"
                                        >Remove</button>
                                    </td>

  
                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name : 'Post',
    mounted()
    {
        this.get_all();
    },
    data()
    {
        return {
            element : {
                userId : '',
                title : '',
                body : '',
                id : '',
            },
            post_list : [],
            errors : [],
            message : '',
            
        }
    },
    methods : {
        save()//handles create and update
        {
            let vm = this;
            if(vm.validate_inputs())
            {
                if(vm.element.id == '')
                {
                    //insertion
                    fetch('https://jsonplaceholder.typicode.com/posts', {
                        method: 'POST',
                        body: JSON.stringify(vm.element),
                        headers: {
                        "Content-type": "application/json; charset=UTF-8"
                        }
                    })
                    .then(response => response.json())
                    .then(json => {
                        // console.log(json)
                        vm.get_all();
                        vm.reset();
                        vm.message = 'Post successfully created';
                    })
                }
                else
                {
                    //updation
                    fetch('https://jsonplaceholder.typicode.com/posts/'+vm.element.id, {
                        method: 'PUT',
                        body: JSON.stringify(vm.element),
                        headers: {
                        "Content-type": "application/json; charset=UTF-8"
                        }
                    })
                    .then(response => response.json())
                    .then(json => {
                        // console.log(json)
                        vm.get_all();
                        vm.reset();
                        vm.message = 'Post successfully updated';
                    })
                }

            }
            
        },
        validate_inputs()//handles validation
        {
            this.errors = [];
            if(this.element.userId == '' || this.element.title == ''  || this.element.body == '')
            {
                this.errors.push('User ID, Title and Body are required');
                return false
            }
            if(isNaN(this.element.userId))
            {
                this.errors.push('User ID should be a number');
                return false
            }
            return true;
        },
        get_all()
        {
            let vm = this;
            fetch('https://jsonplaceholder.typicode.com/posts')
            .then(response => response.json())
            .then(posts => {
                vm.post_list = posts;
            })
        },
        prefetch(id)//gets a specific user data
        {
            let vm = this;
            vm.reset()
            fetch('https://jsonplaceholder.typicode.com/posts/'+id)
            .then(response => response.json())
            .then(post => {
                vm.element = post;
                // console.log(json)
            });
        },
        reset()//clears the form
        {
            this.element.userId = '';
            this.element.title = '';
            this.element.body = '';
            this.element.id = '';
            this.errors = [];
            this.message = '';
        },
        remove(id)//removes an user
        {
            let vm =this;
            fetch('https://jsonplaceholder.typicode.com/posts/'+id, {
                method: 'DELETE'
            })
            .then(() => {
                vm.message = 'Post successfully deleted';
            })
        }
    }
}
</script>

