<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card " >
                    <div class="card-body">
                        <h3>Post</h3>
                        <form @submit.prevent="save">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">User ID</label>
                                        <input type="text" class="form-control" placeholder="Post Name" name="user_id" id="user_id">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Title</label>
                                        <input type="text" class="form-control" placeholder="Title" name="user_id" id="user_id">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">Body</label>
                                        <textarea name="body" class="form-control"></textarea>
                                        
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="float-right">
                                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card " >
                    <div class="card-body">
                        <h4>Llst</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name : 'User',
    // data() {
    //     return {

    //     }
    // }
    // save
}
</script>

